

<mat-toolbar class="nav">
    <button (click)="menubtnClicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon class="head">menu</mat-icon>
   </button>
   <a class="navbar-brand" href="#">
    <!-- <img src="https://tse1.mm.bing.net/th?id=OIP.VikyoxNLQXOR8gjqe-R2WgHaF7&pid=Api&P=0&h=180" alt="" width="60"
        height="54" class="d-inline-block align-text-top"> -->

    </a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

   <!-- <span>My App</span> -->
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon class="head">notifications</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon class="head">person</mat-icon>
  </button>
 </mat-toolbar>