.container{
    background-color: #343a40;
    color: aliceblue;
    height: 500px;

}
.profile{
    width: 240px;
    height: 150px;
    
}
.profile img{
    margin-top: 30px;
    padding: 5px;
    margin-left: 3px;
    width: 30%;
    border-radius: 50%;
}
.profile h3{
    margin-left: 115px;
    margin-top: -60px;
}
.profile h4{
    margin-left: 75px;
    margin-top: -15px;
}



.form a{
    font-size: 20px;
    font-weight: 20px;
    text-decoration: none;
    color: aliceblue;
    height: 40px;
    padding: 10px 0 0 10px;
}
