<div class="container">
    <!-- name -->
    <div class="profile">
        <img src="https://tse1.mm.bing.net/th?id=OIP.y-nGyqT5AwES8oqp344z4gHaHa&pid=Api&P=0&h=180" alt="no img">
        <h3>John Doe</h3>
        <h4>FrontendDeveloper</h4>
    </div>
    <mat-divider></mat-divider>

    <!-- dashboard -->
   
      
           
          
    <div class="form">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon class="head">dashboard</mat-icon>
          </button>
          <a  routerLink="">Dashboard</a>

    </div>
      
    
   
   <!-- forms -->

   <div class="form">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="head">description</mat-icon>
      </button>
      <a  routerLink="forms">Forms</a>

</div>
  
   
    <!-- tables -->

    <div class="form">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon class="head">table</mat-icon>
          </button>
          <a  routerLink="tables">Table</a>
    
    </div>
    


<!-- pages -->
<div class="form">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="head">pages</mat-icon>
      </button>
      <a  routerLink="pages">Pages</a>

</div>
          

   
</div>