
<!-- card -->
<div class="cards">

    <!-- card 1 -->
    <mat-card>
        <app-cards bg="orange" icon="group" name="users" count="5" ></app-cards>
      </mat-card>

      <!-- card2 -->
      <mat-card>
        <app-cards bg="blue" icon="favorite" name="Like" count="25"></app-cards>
      </mat-card>

      <!-- card3 -->
      <mat-card>
        <app-cards  bg="yellow" icon="folder" name="Uploads" count="10"></app-cards>
      </mat-card>

      <!-- card4 -->

      <mat-card>
        <app-cards bg="red" icon="star" name="Stars" count="500"></app-cards>
      </mat-card>

</div>

<div class="graphpie">
    <!-- graph -->
   <div>
     <app-graph></app-graph>
    </div>

    <!-- pie -->
    <div>
        <app-piechart></app-piechart>

    </div>

</div>
